In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import math
from IPython.display import Markdown,display
import datetime
import time

file_path = 'data/data_by_asset_keys/'
file_name = '4.csv'
df = pd.read_csv(file_path+file_name)

In [2]:
subset_keys = ['recorded_at','MDI_OBD_FUEL','ODO_FULL_METER']
subset = df[subset_keys]
subset

               recorded_at MDI_OBD_FUEL ODO_FULL_METER
0     2017-09-30T21:14:59Z
1     2017-09-30T21:15:21Z
2     2017-10-01T21:15:45Z
3     2017-10-01T21:15:45Z
4     2017-10-01T21:15:45Z
5     2017-10-01T21:15:49Z
6     2017-10-01T21:16:45Z
7     2017-10-01T21:17:45Z
8     2017-10-01T21:18:45Z
9     2017-10-01T21:19:46Z
10    2017-10-01T21:20:46Z
11    2017-10-01T21:21:46Z
12    2017-10-01T21:22:47Z
13    2017-10-01T21:23:48Z
14    2017-10-01T21:24:49Z
15    2017-10-01T21:25:39Z
16    2017-10-01T21:26:00Z
17    2017-10-02T09:29:59Z
18    2017-10-02T09:29:59Z
19    2017-10-02T09:30:04Z
20    2017-10-02T09:30:06Z
21    2017-10-02T09:30:07Z     48468531
22    2017-10-02T09:30:07Z
23    2017-10-02T09:30:07Z
24    2017-10-02T09:30:08Z     48468528
25    2017-10-02T09:30:11Z     48468530
26    2017-10-02T09:30:14Z     48468564
27    2017-10-02T09:31:14Z     48468930
28    2017-10-02T09:32:14Z     48469168
29    2017-10-02T09:33:15Z     48469329
...                    ...          ...            ...
9413  2017-11-01T20:29:10Z     50620111        1040504
9414  2017-11-01T20:30:11Z     50620885        1042140
9415  2017-11-01T20:31:11Z     50621809        1043801
9416  2017-11-01T20:32:12Z     50622385        1045408
9417  2017-11-01T20:33:12Z     50623031        1046942
9418  2017-11-01T20:34:13Z     50623886        1048530
9419  2017-11-01T20:35:14Z     50624534        1050180
9420  2017-11-01T20:36:14Z     50625032        1051837
9421  2017-11-01T20:37:15Z     50625693        1053507
9422  2017-11-01T20:38:16Z     50626487        1055056
9423  2017-11-01T20:39:16Z     50627130        1056776
9424  2017-11-01T20:40:17Z     50627740        1058289
9425  2017-11-01T20:41:17Z     50628337        1059897
9426  2017-11-01T20:42:17Z     50628970        1061511
9427  2017-11-01T20:43:17Z     50629709        1063117
9428  2017-11-01T20:44:18Z     50630310        1064708
9429  2017-11-01T20:45:18Z     50630884        1066410
9430  2017-11-01T20:46:18Z     50631474        1067976
9431  2017-11-01T20:47:19Z     50632049        1069269
9432  2017-11-01T20:48:20Z     50632382        1070291
9433  2017-11-01T20:49:20Z     50633006        1071101
9434  2017-11-01T20:50:21Z     50633978        1072575
9435  2017-11-01T20:51:21Z     50634549        1074202
9436  2017-11-01T20:52:22Z     50635238        1075815
9437  2017-11-01T20:53:22Z     50635894        1077287
9438  2017-11-01T20:54:23Z     50636594        1078911
9439  2017-11-01T20:55:23Z     50637266        1080343
9440  2017-11-01T20:56:23Z     50637814        1081863
9441  2017-11-01T20:57:24Z     50638535        1083482
9442  2017-11-01T20:58:25Z     50639050        1085040

[9443 rows x 3 columns]

In [3]:
df_list = []
count_data = len(subset)


start_line = 0
last_time = time.mktime( datetime.datetime.strptime(subset.iloc[0]['recorded_at'], "%Y-%m-%dT%H:%M:%SZ").timetuple() )
for i in range(1,count_data):
    last_time = time.mktime( datetime.datetime.strptime(subset.iloc[i-1]['recorded_at'], "%Y-%m-%dT%H:%M:%SZ").timetuple() )
    current_time   = time.mktime( datetime.datetime.strptime(subset.iloc[i]['recorded_at'], "%Y-%m-%dT%H:%M:%SZ").timetuple() )
    if current_time-last_time > 1800:
        df_list.append(subset.iloc[start_line:i])
        start_line = i     
    if i == count_data-1:    
        df_list.append(subset.iloc[start_line:count_data])

In [10]:
df_list[4]

              recorded_at MDI_OBD_FUEL ODO_FULL_METER
117  2017-10-02T14:00:04Z     48492014
118  2017-10-02T14:01:04Z     48492142
119  2017-10-02T14:02:04Z     48492189
120  2017-10-02T14:03:04Z     48492241
121  2017-10-02T14:04:05Z     48492289
122  2017-10-02T14:05:06Z     48492346
123  2017-10-02T14:06:06Z     48492403
124  2017-10-02T14:07:06Z     48492452
125  2017-10-02T14:08:06Z     48492506
126  2017-10-02T14:09:07Z     48492568
127  2017-10-02T14:10:08Z     48492616
128  2017-10-02T14:11:08Z     48492667
129  2017-10-02T14:12:08Z     48492717
130  2017-10-02T14:13:09Z     48492778
131  2017-10-02T14:14:09Z     48492832
132  2017-10-02T14:15:10Z     48492882
133  2017-10-02T14:16:10Z     48492939
134  2017-10-02T14:17:11Z     48493001
135  2017-10-02T14:18:12Z     48493055
136  2017-10-02T14:19:12Z     48493100
137  2017-10-02T14:19:48Z     48493127       14900528
138  2017-10-02T14:20:47Z     48493306       14900566
139  2017-10-02T14:21:47Z     48493443       14900750
140  2017-10-02T14:22:47Z     48493849       14901066
141  2017-10-02T14:23:48Z     48493958       14901113
142  2017-10-02T14:24:49Z     48494200       14901420
143  2017-10-02T14:25:50Z     48494846       14902192
144  2017-10-02T14:26:51Z     48495005       14902612
145  2017-10-02T14:27:51Z     48495759       14903310
146  2017-10-02T14:28:52Z     48495913       14903678
..                    ...          ...            ...
160  2017-10-02T14:43:00Z     48500397       14909582
161  2017-10-02T14:44:01Z     48501404       14910182
162  2017-10-02T14:45:02Z     48501528       14911075
163  2017-10-02T14:46:03Z     48501556       14911815
164  2017-10-02T14:47:03Z     48502355       14912641
165  2017-10-02T14:48:04Z     48502416       14912882
166  2017-10-02T14:49:04Z     48502725       14913436
167  2017-10-02T14:50:05Z     48502969       14913981
168  2017-10-02T14:51:05Z     48503036       14914142
169  2017-10-02T14:52:06Z     48503172       14914190
170  2017-10-02T14:53:07Z     48503267
171  2017-10-02T14:54:00Z     48503310
172  2017-10-02T14:54:01Z
173  2017-10-02T14:54:02Z
174  2017-10-02T14:54:02Z
175  2017-10-02T14:54:02Z
176  2017-10-02T14:54:02Z
177  2017-10-02T14:54:02Z
178  2017-10-02T14:54:47Z
179  2017-10-02T14:55:46Z
180  2017-10-02T14:56:46Z
181  2017-10-02T14:57:47Z
182  2017-10-02T14:58:47Z
183  2017-10-02T14:59:47Z
184  2017-10-02T15:00:47Z
185  2017-10-02T15:01:47Z
186  2017-10-02T15:02:47Z
187  2017-10-02T15:03:48Z
188  2017-10-02T15:04:01Z
189  2017-10-02T15:04:22Z

[73 rows x 3 columns]